#landing {
  padding: 20px;
  position: relative;
}

#landing img {
  display: block;
  margin: 75px auto 0 auto;
  position: absolute;
  max-width: 1000px;
  height: auto;
  max-height: 75vh; 
  border-radius: 1px;

}

#landing h1 {
  background-color: rgba(0,0,0,0.8);
  padding: 5px 20px;
  border-radius: 1px;
  color: #eee;
  z-index: 1;
}

#profile-image {
  display: block;
  margin: 20px auto;
  max-height: 25%;
  width: 25%;
  border-radius: 1px;
}

@media only screen and (max-width: 576px){
  #landing img {
    max-width: 300px;
  }
}